@charset "utf-8";

@import "./dashbord.css";
@import "./books.css";
@import "./orders.css";
@import "./add-book-modal.css";
@import "./registration-form.css";

#app {
  text-align: center;
  color: #2c3e50;
  font-size: 1.5rem;
  font-family: ui-sans-serif;
  
}

html {
  height: 100%;
  margin: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: cornsilk;
}

body {
  font-size: 1.5rem;
  font-family: ui-sans-serif;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #378de4;
  font-size: 2rem;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #42b983;
  text-decoration: underline;
}
.router-link-exact-active {
  color: #42b983;
}
